<ion-view view-title="Chat">
	<ion-content>
		<form ng-submit="addMessage(newMessage.text)">
			<div class="list">
				<div class="item item-divider">
					Messages
				</div>
				
				<div ng-repeat="message in chatMessages | orderBy: -id" class="item message" id="message-{{ message.id }}">
					<div ng-class-even="'even'">
						<a class="item" ng-class-even="'item-thumbnail-right'" ng-class-odd="'item-thumbnail-left'" href="#">
						  <img src="img/{{ message.user }}.png">
						  <h2>{{ message.user }}</h2>
						  <p>{{ message.time }}</p>
						  <p>{{ message.message }}</p>
						</a>
					</div>
				</div>  

				<label class="item item-input item-stacked-label">
					<input placeholder="Type message..." ng-model="newMessage.text" class="form-control">
				</label>			
			</div>
			<button class="button button-clear"><i class="icon ion-ios-plus"></i></button>
		</form>
	</ion-content>
</ion-view>