<ion-view view-title="Chat">
	<form ng-submit="addMessage(newMessage.text)">
		<ion-content>
				<div class="list">
					<div class="item item-divider">
						Messages
					</div>
					
					<div ng-repeat="message in chatMessages | orderBy: -id" class="item message" id="message-{{ message.id }}">
						<div ng-class-even="'even'">
							<a class="item" ng-class-even="'item-thumbnail-right'" ng-class-odd="'item-thumbnail-left'" href="#">
							  <img src="img/{{ message.user }}.png">
							  <h2>{{ message.user }}</h2>
							  <p>{{ message.time }}</p>
							  <p>{{ message.message }}</p>
							</a>
						</div>
					</div>  		
				</div>
		</ion-content>
		<ion-footer-bar align-title="left" class="bar-positive">
			<label class="item-input-wrapper">
				<input id="newMessage" type="text" placeholder="Type message..." ng-model="newMessage.text" autofocus="true">
				<button class="button button-clear"><i class="icon ion-ios-plus"></i></button>
			</label>
		</ion-footer-bar>
	</form>
</ion-view>