<ion-view view-title="Lights">
	<ion-content>
		<ion-spinner ng-show="loading" class="spinner-centered"></ion-spinner>
		<ion-list>
			<ion-item>
				<div class="row light">
					<p class="col col-40">Toutes</p>
					<label class="toggle col col-30 col-offset-20">
					    <input type="checkbox" ng-model="allLightsOn" ng-checked="{{ allLightsOn }}" ng-change="toggleAll()" >
					    <div class="track">
							<div class="handle"></div>
					    </div>
					</label>
				</div>
			</ion-item>
			<ion-item ng-repeat="light in lights">
				<div class="row light">
					<p class="col col-40" ng-click="showColorPicker()">{{ light.Name }}</p>
					<label class="toggle col col-30 col-offset-20" ng-show="!light.DimEnabled">
					    <input type="checkbox" ng-model="light.On" ng-checked="{{ light.On }}" ng-change="toggle()" >
					    <div class="track">
							<div class="handle"></div>
					    </div>
					</label>
					<div ng-show="light.DimEnabled" class="range col col-60">
						<input type="range" ng-model="light.Bri" ng-change="dim()" min="0" max="255">
					</div>
				</div>
			</ion-item>
		</ion-list>
		<input id="spectrum"/>
	</ion-content>
</ion-view>