<ion-view view-title="Home">
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				Temperature
			</div>
			<div class="item item-text-wrap">
				{{ temperature }}<sup style="font-size: 20px">°C</sup>
			</div>
			<div class="item item-divider">
				{{ temperatureComment }}
			</div>
		</div>
		
		<div class="card">
			<div class="item item-divider">
				Humidity
			</div>
			<div class="item item-text-wrap">
				{{ humidity }}<sup style="font-size: 20px">%</sup>
			</div>
			<div class="item item-divider">
				{{ humidityComment }}
			</div>
		</div>
	</ion-content>
</ion-view>