<ion-view view-title="Torrents">
	<ion-content>
		<form ng-submit="search(text)" class="col-sm-12">
			<div class="list">
				<div class="item item-divider">
					Recherche
				</div>
				<label class="item item-input">
					<input ng-model="text" type="text">
					<button class="button"><i class="ion-search"></i></button></div>   
				</label>       
			</div>
		</form>
		<div class="list">
			<div class="item item-button-right" ng-repeat="result in results" >
				{{ result.MovieTitle }}
				<button ng-click="download(result.TorrentMagnetUrl)" class="button button-positive">
					<i class="ion-ios-cloud-download-outline"></i>
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>