<ion-view view-title="Torrents">
	<form ng-submit="search(text)" class="col-sm-12">
		<div class="bar bar-subheader item-input-inset">
			<label class="item-input-wrapper">
		      <i class="icon ion-ios-search placeholder-icon"></i>
		      <input type="search" placeholder="Search" id="torrent-search-input" ng-model="text"/>
		    </label>
		</div>
	</form>
	<ion-content scroll="true">
		<h4 ng-show="results && results.length == 0">Aucun résultats</h4>
		<div class="list">
			<div class="item item-button-right" ng-repeat="result in results" >
				{{ result.title }}
				<button ng-click="download(result)" class="button button-positive">
					<i class="ion-ios-cloud-download-outline"></i>
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>