/* Empty. Add your own CSS if you like */

.bar{
	padding: 8px;
	height: 50px;
	background-color:rgb(47,51,62);	
}

.bar .title{
	top: 4px;
	color:#fff;
}

.has-header{
	top: 50px;
}

.has-header.has-subheader {
    top: 94px;
}

.menu{
	background-color:rgb(47,51,62);
}

.menu .item {
	background: rgba(0,0,0,0);
	border: none;
	color:#fff;
}

.menu .item .icon {
	color:rgb(60,173,155);
}

.menu .item-complex .item-content{
	background:transparent;
}

.menu .item-complex .item-content.activated{
	background:rgba(0,0,0,0.2);
}

.tabbed-slidebox .slider-slide{
	background-color:transparent;
}

.tabbed-slidebox .tsb-icons:after{
	border-width: 0 0.8em 0.8em 0.8em;
	border-color: transparent transparent #ccc transparent;
	margin-left: -6px;
	bottom: 0px;
}

.tabbed-slidebox .tsb-icons{
	margin: 0;
	padding: 0;
	background: rgb(60,173,155);
}

.tabbed-slidebox .tsb-icons a {
	font-size: 2em;
}

.tabbed-slidebox .tsb-icons a::before{
	color:white;
}

.tabbed-slidebox .tsb-icons a.active {
	font-size: 3em;
}

.tabbed-slidebox .slider {
	padding-top: 5%;
}

.row.light{
	margin: -8px;
}

.message .even {
	text-align:right;
}

.message .item-thumbnail-right, .message .item-thumbnail-left {
	border: none;
}

.message img {
	max-height: 70px !important;
	max-width: 70px !important;
}

.range {
	padding: 0;
	margin-top: -10px;
}

.k-colorpicker, #spectrum{
	display:none;
}

.k-animation-container{
	top: 50% !important;
	left: 50% !important;
	margin-top: -125px !important;
	margin-left: -125px !important;
	background-color: white;
}

.message {
	padding:0;
}

.message .item {
	min-height: 90px;
}

.popover{
	opacity: 1;
}

input[type="color"] {
	display: inline-block;
	flex-basis: 100px;
}

.item.item-positive{
	border-color:rgb(57,61,72);
}

.spinner-centered{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-14px;
	display: block;
	width: 28px;
}

#chat-footer .button{
	width:15%;
}

#newMessage {
	width:85%;
	padding-left:2%;
}

#chat-footer .item-input-wrapper{
	padding:0;
	margin: 0;
}

#add-suggestion .item-input-inset{
	padding:0;
}

#player{
	background:white;
	border:none;
	height: auto;
	padding: 8px 8px 0 8px;
}

#player .item{
	border:none;
}

#playlist {
    top: 183px;
}

#playlist .item-complex.current .item-content{
	background-color:rgba(47,51,80, 0.8);
}

#playlist .item-complex.current .item-content > h2, #playlist .item-complex.current .item-content > i{
	color:white;
}

.radio-thumbnail{
	max-width:200px;
	width: auto !important;
	margin:auto;
	display:block;
}