/* Empty. Add your own CSS if you like */

.bar{
	padding: 8px;
	height: 50px;
}

.bar .title{
	top: 4px;
}

.has-header{
	top: 50px;
}

.tabbed-slidebox .slider-slide{
	background-color:transparent;
}

.tabbed-slidebox .tsb-icons:after{
	border-width: 0 0.8em 0.8em 0.8em;
	border-color: transparent transparent #ccc transparent;
	margin-left: -6px;
	bottom: 0px;
}

.tabbed-slidebox .tsb-icons{
	margin: 0;
	padding: 0;
	background: rgba(0,0,0,0.1);
}

.tabbed-slidebox .tsb-icons a {
	font-size: 2em;
}

.tabbed-slidebox .tsb-icons a.active {
	font-size: 3em;
}

.tabbed-slidebox .slider {
	padding-top: 5%;
}

.row.light{
	margin: -8px;
}

.message .even {
	text-align:right;
}

.message .item-thumbnail-right, .message .item-thumbnail-left {
	border: none;
}

.message img {
	max-height: 70px !important;
	max-width: 70px !important;
}

.range {
	padding: 0;
	margin-top: -10px;
}

.k-colorpicker, #spectrum{
	display:none;
}

.k-animation-container{
	top: 50% !important;
	left: 50% !important;
	margin-top: -125px !important;
	margin-left: -125px !important;
	background-color: white;
}

.popover{
	opacity: 1;
}